<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>Add Doctor</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="AddUser()" [strong]="true"> Confirm </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="formuser">
    <div class="contenedor_inputs">
      <!--name-->
      <ion-item fill="solid" id="name">
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="name" class="input_name"> </ion-input>
        <ion-note slot="helper">Enter your name</ion-note>
        <ion-note slot="error">Incorrect</ion-note>
      </ion-item>
      <!--lastname-->
      <!--email-->
      <ion-item fill="solid" id="email">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" class="input_email"> </ion-input>
        <ion-note slot="helper">Enter your dni</ion-note>
        <ion-note slot="error">Incorrect</ion-note>
      </ion-item>
      <!--cedula-->
      <ion-item fill="solid" id="cedula">
        <ion-label position="floating">Cedula</ion-label>
        <ion-input formControlName="dni" class="input_cedula"></ion-input>
      </ion-item>
      <!--phone-->
      <ion-item fill="solid" id="phone">
        <ion-label position="floating">Phone</ion-label>
        <ion-input formControlName="phone" class="input_phone"></ion-input>
      </ion-item>
    </div>
  </form>
  <form class="form"></form>
</ion-content>
