<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" [routerLink]="['/doctor-view']" >
      <ion-icon name="chevron-back"></ion-icon>
    </ion-button>
    <ion-title>Diagnosticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Cards de analisis-->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="6" *ngFor="let result of listPatientsDiagnostic; let id = index" class="contenedor">
        <div class="notification">
          <div class="notiglow"></div>
          <div class="notiborderglow"></div>
          <div class="notititle">{{result.userName}}</div>
          <div class="notibody">
            {{result.email}}
            <div class="numeracion_diagnostico">
              {{formatDate(result.createdDate)}}
            </div>
            <ion-button style="color: white;" fill="clear" (click)="viewDiagnosic(result)">Leer mas</ion-button>
          </div>
        </div>
      </ion-col>
     
    </ion-row>
  </ion-grid>
 
</ion-content>
