<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Add Doctor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="AddUser()" [strong]="true"> Confirm </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="form" [formGroup]="this.formNurse">
    <div class="contenedor_inputs">
  
      <ion-item fill="solid" id="name">
        <ion-label position="floating">Name</ion-label>
        <ion-input class="input_name" formControlName="name">
        </ion-input>
        <ion-note slot="helper">Enter your name</ion-note>
        <ion-note slot="error">Incorrect</ion-note>
      </ion-item>
      <ion-item fill="solid" id="phone">
        <ion-label position="floating">Phone</ion-label>
        <ion-input class="input_phone" formControlName="phone">
        </ion-input>
        <ion-note slot="helper">Enter your phone</ion-note>
        <ion-note slot="error">Incorrect</ion-note>
      </ion-item>
      <!--dni-->
      <ion-item fill="solid" id="dni">
        <ion-label position="floating">Cedula</ion-label>
        <ion-input class="input_dni" formControlName="dni">
        </ion-input>
        <ion-note slot="helper">Enter your dni</ion-note>
        <ion-note slot="error">Incorrect</ion-note>
      </ion-item>
      <!--email-->
      <ion-item fill="solid" id="email">
        <ion-label position="floating">Email</ion-label>
        <ion-input class="input_email" formControlName="email">
        </ion-input>
        <ion-note slot="helper">Enter your email</ion-note>
        <ion-note slot="error">Incorrect</ion-note>
      </ion-item>
    </div>
  </form>
</ion-content>
