<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dimiss()">
        <ion-icon slot="icon-only" name="close"> Regresar</ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-margin">Doctores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: rgb(249, 246, 244)">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="6">
        <ion-searchbar placeholder="Search"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-list >
    <ion-item-sliding *ngFor="let doctor of listDoctors">
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
        </ion-avatar>
        <ion-label>
          <ion-label>{{doctor.userName}}</ion-label>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="primary" (click)="assing(doctor)">Asignar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>