/* mi-pagina.page.scss (o el nombre de tu archivo de estilo) */

/* Establecer la posición fija para el botón FAB */
ion-fab-button {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior según sea necesario */
    right: 20px; /* Ajusta la distancia desde la derecha según sea necesario */
    /* Otros estilos personalizados si es necesario */
  }
  