<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de doctores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container class="contenedor ion">
    <ng-container class="contenedor">
      
      <!--Mostrar cards de cada doctor-->
      <ion-grid fixed>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" sizeMd="5" *ngFor="let p of array_list; let i = index">
            <div class="container_Cards">
              <app-card-doctor
                idalert = "present-alert"
                urlImg="../../../assets/Images/fondoParaCard.jpg"
                especialidad={{p.speciality}}
                nombre={{p.name}}
                apellido = {{p.lastname}}
                userid = {{p.userid}}
                email = {{p.email}}
                phone = {{p.phone}}
                dni = {{p.dni}}
                fecha = {{p.fecha}}
              >
              </app-card-doctor>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--Alerta de eliminar o editar-->
      <ion-alert
        trigger="present-alert"
        header="Alert!"
        [buttons]="alertButtons"
        (didDismiss)="setResult($event)"
      ></ion-alert>
    </ng-container>
  </ng-container>

  <!--Boton + para agregar-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--Agregar doctores-->
  <ion-content class="ion-padding">
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Add a new doctor</ion-title>
                <ion-buttons slot="end">
                  <ion-button 
                    (click)="AgregarDoctor()"
                    (click)="confirm()"
                    [strong]="true" 
                    (click)="presentToast('bottom')">
                      Confirm
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
    
            <!--Form add doctors-->
            <app-doctor-add-forms></app-doctor-add-forms>
            
          </ng-template>
        </ion-modal>
  </ion-content>

</ion-content>
