<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de doctores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container class="contenedor ion">
    <div class="contenedor">
      
      <!--Mostrar cards de cada doctor-->
      <ion-grid fixed>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col size="12" sizeMd="5" *ngFor="let p of listDoctors; let i = index">
              <app-card-doctor
                idalert = "present-alert"
                urlImg="../../../assets/Images/fondoParaCard.jpg"
                especialidad={{p.speciality}}
                nombre={{p.name}}
                apellido = {{p.lastname}}
                userid = {{p.userid}}
                email = {{p.email}}
                phone = {{p.phone}}
                dni = {{p.dni}}
                fecha = {{p.fecha}}
              ></app-card-doctor>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--Alerta de eliminar o editar-->
      <ion-alert
        trigger="present-alert"
        header="Alert!"
        [buttons]="alertButtons"
        (didDismiss)="setResult($event)"
      ></ion-alert>
    </div>
  </ng-container>

  <!--Boton + para agregar-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="AbrirModal()" id="open-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
