<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--elementos de la vista-->
<ion-content [fullscreen]="true">

  <!--Header-->
  <header style="display: flex; text-align: center;">
    <ion-button fill="clear" (click)="this.modalController.dismiss()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <h2 style="margin-left: 50px;">Diagnostico {{ this.pacientInfo.numeracion }}</h2>
  </header>

  <!--Los contenedores-->
  <div class="contenedor">
    <div class="contendor grafica">
      <div class="chart-area"></div>
    </div>
    <div class="contenedor img">
      <img style="width: 100px; height: 100px;" src="../../../../assets/Images/fondoParaCard.jpg" class="image">
    </div>
    <div class="contenedor textChat">
      <p>{{ this.pacientInfo.enfermedad }}
      </p>
    </div>
    <ng-container *ngIf=""></ng-container>
    <div class="contenedor diagnostico">
     {{ this.pacientInfo.descripcion }}
    </div>
  </div>

  <!--Boton Editar-->
  <ion-fab slot="fixed" vertical="top" horizontal="center">
    <ion-fab-button id="open-modal" expand="block"> <!--(click)="togglePanel()"-->
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
